{{>layouts/header}}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <h4 class="text-center my-3 pb-3">To Do App</h4>

                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" method="POST" action="/todo/create">
                            <div class="col-12">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="form1" class="form-control" name="content" />
                                    <label class="form-label" for="form1">Enter a task here</label>
                                </div>
                            </div>

                            <!-- Save 버튼 (할 일 추가하기) -->
                            <div class="col-12">
                                <button type="submit" name="action" value="create" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">create (할일 추가하기)</button>
                            </div>


                        </form>

                        <table class="table mb-4">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Todo item</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            {{#Todo}}
                            <tbody>
                            <tr>
                                <th scope="row">{{orderNumber}}</th>
                                <td>{{content}}</td>
                                <td>{{status}}</td>
                                <td>
                                    <!-- 삭제 버튼 -->
                                    <form method="POST" action="/todo/delete/{{id}}" style="display:inline;">
                                        <button type="submit" class="btn btn-danger" data-mdb-button-init data-mdb-ripple-init>DELETE</button>
                                    </form>

                                    <!-- 완료 버튼 -->
                                    <form method="POST" action="/todo/finished/{{id}}" style="display:inline;">
                                        <button type="submit" class="btn btn-success ms-1" data-mdb-button-init data-mdb-ripple-init>FINISHED</button>
                                    </form>
                                </td>

                            </tr>

                            </tbody>
                            {{/Todo}}
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{>layouts/footer}}